body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.jumbotron {
    background-color: #B40404;
    color: #fff;
    border-radius: 0;
}

.lista-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}